<div class="column">

    <div class="column px-0">
        <article class="media box">
            <figure class="media-left">
                <p class="image is-64x64">
                    <%= gravatar_image_tag(current_user.email, size: 64, alt: current_user.name) %>

                </p>
            </figure>
            <div class="media-content">
                <%= render 'form' %>
            </div>
        </article>
    </div>


    <div class="box">

        <% @tweets.each do |tweet| %>
        <% if current_user.following?(tweet.user) || tweet.user == current_user %>

        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <%= gravatar_image_tag(tweet.user.email, size: 64, alt: tweet.user.name) %>


                </figure>
            </div>

            <div class="media-content">
                <div class="content">

                    <%= link_to tweet.user.name, user_path(tweet.user), class: 'post-author' %><br>
                    <small><%= link_to tweet.user.username, user_path(tweet.user), class: 'post-author' %></small><br />

                    <p><%= tweet.content %></p>
                </div>
                <nav class="level">
                    <div class="level-left is-mobile">
                        <%= link_to tweet, class: 'level-item' do %>
                        <span class="icon">
                            <i class="fa fa-link" aria-hidden="true"></i>
                        </span>
                        <% end %>
                        <%= link_to edit_tweet_path(tweet), class: 'level-item' do %>
                        <span class="icon">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </span>
                        <% end %>
                        <%= link_to tweet, method: :delete, data: {confirm: "Are you sure you want to delete this tweet?"}, class: 'level-item' do %>
                        <span class="icon">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </span>
                        <% end %>


                        <div class='post-comments-section'>
                            <%= render partial: 'replies/reply', collection: tweet.replies %>

                            <%= form_for(tweet.replies.new, url: tweet_replies_path(tweet)) do |form| %>
                            <%= form.text_field :content, label: "Tweet about it", input_html: { class: "input "},
                                                  wrapper: false, label_html: {class: "label"}, placeholder: "What's on your mind?",
                                                  autofocus: true %>
                            <%#= form.text_field :content, id: :reply_content, class: 'form-control', placeholder: 'Add new reply' %>
                            <%= form.button :submit, class: "button is-primary" %>
                            <% end %>
                        </div>
                    </div>
                </nav>
            </div>

        </article>
        <% end %>

        <% end %>
    </div>
</div>