<p id="notice"><%= notice %></p>
<div class="py-2">
    <article class="media box">
        <figure class="media-left">
            <p class="image is-64x64">
                <%= gravatar_image_tag(@tweet.user.email, size: 64, alt: @tweet.user.fullname) %>
            </p>
        </figure>
        <div class="content tweet-org justify">
            <div>
                <%= link_to @tweet.user.fullname, user_path(@tweet.user), class: 'post-author' %><br>
                <small>@<%= link_to @tweet.user.username, user_path(@tweet.user), class: 'post-author' %></small><br />

                <p><%= @tweet.content %></p>
            </div>
            <div class="tweet-icon">
               
                <% if current_user?(@tweet.user) %>

                <%= link_to edit_tweet_path(@tweet), class: 'level-item' do %>
                <span class="icon">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </span>
                <% end %>

                <%= link_to @tweet, method: :delete, data: {confirm: "Are you sure you want to delete this tweet?"}, class: 'level-item' do %>
                <span class="icon">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </span>
                <% end %>
                <% end %>
            </div>
        </div>
</div>

<div class="media-content">

    <nav class="block">
        <div class='post-comments-section pl-4'>
                <%= render partial: 'replies/reply', collection: @tweet.replies %>

                <%= form_for(@tweet.replies.new, url: tweet_replies_path(@tweet)) do |form| %>
                <div class="reply-input"><%= form.text_field :content, label: "Tweet about it", input_html: { class: "input"},
                                                  wrapper: false, label_html: {class: "label"}, placeholder: "Reply this tweet.",
                                                  autofocus: true %></div>
                <%= form.button :submit, class: "button is-info mb-2" %>
                <% end %>
               <%= link_to 'Show', @tweet %> |
          <%= link_to 'Back', tweets_path %> </div>

    </nav>
</div>

</article>

</div>