<div class="column wtf-panel pl-0 pr-6 py-5">
    <nav class="panel">
        <article class="px-1 py-2 wtf">
            <div class="media-content ">
                <figure class="">
                    <%= gravatar_image_tag(@user.email, size: 64, alt: @user.fullname) %>
                </figure>
                <p class="  "><%= @user.fullname  %></p>
                <p class="  ">@<%= @user.username  %></p>
                <%= follow_unfollow %>
            </div>

            <div class="wtf-f media-content mt-2">
                <div class="">
                    <p class="heading">Tweets</p>
                    <p class="has-text-centered	 "><%= @user.tweets.count  %></p>
                </div>
                <div class="">
                    <p class="heading">Following</p>
                    <p class=" has-text-centered	"><%= @user.followed_users.count  %></p>
                </div>
                <div class="">
                    <p class="heading">Followers</p>
                    <p class="has-text-centered	"><%= @user.followers.count  %></p>
                </div>
            </div>

            <div class="followed mt-2">
                Followed by:<br>
                <% @user.followers.each do |user| %>
                <br>
                 <div class="is-flex">
                <figure class="image is-32x32">
                    <%= gravatar_image_tag(user.email, size: 64, alt: user.fullname) %>
                </figure>
                <div class="ml-2">
                    <p> <%= link_to user.fullname, user_path(user) %><br>
                    </p>
                    <p>@<%= link_to user.username, user_path(user) %><br>
                    </p>
                </div>
                </div>
            </div>
                <%end %>
            </div>
        </article>
    </nav>
</div>