<div class="columns">
 
 <div class="column px-5">

<section class="users-section">
  <div class="media-left">
              <figure class="image profile-pic">
                  <%= gravatar_image_tag(@user.email, size: 64, alt: @user.name) %>

              </figure>
                <%= @user.username %> 

          </div>

 <% unless current_user== @user %>
  <%= render 'follow_form' %>
  <%end %>
    <article class="timeline">
   
    <h3 class="title mt-2">Recent posts:</h3>
    <ul class="posts">
    <% unless @user.tweets.empty? %>
      <%= render 'tweets/tweet' %>
        <%else %>
      <p>This user does not have posts.</p>
        <%end %>

    </ul>
  </article>
</section>
    </div>
     <%= render 'profile' %> 

    </div>
